<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <title>{{titulo}}</title>
</head>

<body class="body">
    <div class="despedida-container">
        <h1 class="despedida">Cerrando sesión, nos vemos pronto, {{nombre}}!</h1>
    </div>
      <script>
            setTimeout(function(){
                window.location = "/exit";
            },2000);
        </script>
</body>

</html>