<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/ordenes.css" />
    <title>ordenes generadas</title>
</head>
<body>
    <h1>Ordenes generadas por {{nombre}} {{apellido}}</h1>
    <h2>({{email}})</h2>
    <div id="order-container"  class="orders-container"></div>
    <input class="btn bottom" type="button" value="volver" onclick="location.href=`/productos`"/>
    <script>const email = `{{email}}`</script>
    <script src="/js/ordenes.js"></script>
</body>
</html>