<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./css/style.css" />
    <title>{{titulo}}</title>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css"
    />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
  </head>
  <body class="body">
    <div id="login-form" class="login-vertical">
      <h2 class="login-title">Registro de usuario</h2>
      <label for="admin">tipo de usuario</label>
      <select id="admin">
        <option value="false">cliente</option>
        <option value="true">admin</option>
      </select>
      <label for="nombre">ingrese su nombre</label>
      <input
        class="input form-nombre"
        type="text"
        id="nombre"
        name="nombre"
        placeholder="José"
        required
      />
      <label for="apellido">ingrese su apellido</label>
      <input
        class="input form-apellido"
        type="text"
        id="apellido"
        name="apellido"
        placeholder="Hernandez"
        required
      />
      <label for="edad">ingrese su edad</label>
      <input class="input form-edad" type="number" id="edad" name="edad" required />
      <label for="direccion">ingrese su dirección</label>
      <input
        class="input form-direccion"
        type="text"
        id="direccion"
        name="direccion"
        placeholder="calle las tipas 123 - Pcia de Bs As"
        required
      />
      <label for="telefono">ingrese su número de telefono</label>
      <input
        class="input form-telefono"
        type="tel"
        id="telefono"
        name="telefono"
        placeholder="9115666000"
        minlength="9"
        maxlength="11"
        required
      />
      <label for="email">ingrese su email</label>
      <input
        class="input form-email"
        type="email"
        id="email"
        name="email"
        placeholder="jose@gmail.com"
        required
      />
      <label for="email2">repita su email</label>
      <input
        class="input form-email2"
        type="email"
        id="email2"
        name="email2"
        placeholder="jose@gmail.com"
        required
      />
      <label for="password">ingrese su password</label>
      <input
        class="input form-password"
        type="password"
        id="password"
        name="password"
        required
      />
      <label for="password2">repita su password</label>
      <input
        class="input form-password2"
        type="password"
        id="password2"
        name="password2"
        required
      />
      <label class="fileInp" for="archivo">+ subir avatar +</label>
      <span class="filetext"></span>
      <input
        class="inputFile form-file"
        type="file"
        id="archivo"
        name="archivo"
        onchange="getFile(event)"
        accept=".jpg"
        required
      />
      <button class="btn" id="btn" onclick="newUser()">Registrar</button>
    </div>
    <button class="btn" onclick="location.href='/'" type="button">
      Ir a Login
    </button>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <script src="./js/register.js"></script>
  </body>
</html>