body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.alert{
    font-size: 20px;
}
.alert-danger{
    font-weight: bold;
}
.title{
    color: blue;
    font-size: 40px;
}